<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <CodeCoverage>
        <Configuration>
            <Format>cobertura</Format>
            <ExcludeByFile>
                $(MSBuildProjectDirectory)/**/*.Designer.cs;
                $(MSBuildProjectDirectory)/**/*Migrations.cs;
                $(MSBuildProjectDirectory)/**/*.g.cs;
                $(MSBuildProjectDirectory)/**/*Tests.cs
            </ExcludeByFile>
            <ExcludeByAttribute>
                System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverageAttribute;
                System.Diagnostics.DebuggerNonUserCodeAttribute;
                System.CodeDom.Compiler.GeneratedCodeAttribute
            </ExcludeByAttribute>
            <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
    </CodeCoverage>
</RunSettings>